body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #f4f4f4;
  }
  
  .container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .produits, .panier {
    margin-bottom: 20px;
  }
  
  .produit, .item {
    display: inline-flex ;
    justify-content: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fafafa;
  }
  
  button {
    background: #007BFF;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background: #0056b3;
  }
  .produit {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fafafa;
  }
  
  .produit img {
    max-width: 120px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .whatsapp-link {
    display: inline-flex;
  align-items: center;
  gap: 10px; /* Espace entre l'icône et le texte */
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: white;
  background-color: #25D366; /* Couleur verte WhatsApp */
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
  }
  .whatsapp-link:hover {
    background-color: #1EBE5B; /* Couleur légèrement plus sombre au survol */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  }